<!-- templates/menu.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/Captura de Tela (111).png" type="image/x-icon">
    <title>Cardápio - Dedoca Gourmet</title>
</head>
<body class="ajuste">
    <h2>Cardápio do Dia</h2>
    <ul>
        {% for item in items %}
            <li>{{ item.name }} - R$ {{ item.price }}<br>{{ item.description }}</li>
        {% endfor %}
    </ul>
    
    {% if session['is_admin'] %}
        <a href="/menu/new">Adicionar Novo Item</a>
    {% endif %}
</body>
</html>
